body {
background: url("./bakgrund.png") no-repeat top left;
background-size: cover;
clear:both;
padding:0px;
margin:0px;
}

p {
  font-style: normal;
  font-family: sans-serif;
  
}

h3 {
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
}

.logotyp {
  margin: 50px;
}

.inflate {
  display: flex;
  justify-content: center;
  align-items: baseline;
  -webkit-animation: flicker 1s infinite;
}




@-webkit-keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
/* 10% {opacity:.5;}
13% {opacity:0;} */
20% {opacity:.5;}
25% {opacity:1;}
20% {opacity:.5;}
9% {opacity:0;}
}

.footer {
  background-color:#FB8dA3;
  padding: 30px;
  color: #ffffff;
  text-align: center;
}
